<ng-container *ngIf="path; else elseBlock">
  <a
    [class]="'ps-btn ps-btn--curve ' + class"
    style="margin-right: 0px;cursor: pointer;"
    [routerLink]="[path]"
  >
    {{ text }}
  </a>
</ng-container>
<ng-template #elseBlock>
  <button
    [class]="'ps-btn ps-btn--curve ' + class"
    [ngStyle]="{
      'cursor': loading ? 'auto' : 'pointer',
      'pointer-events': loading ? 'none' : 'auto'
    }"
    [type]="btnType"
    [disabled]="loading"
  >
    <ng-container *ngIf="!loading; else loadingDiv">
      {{ text }}
    </ng-container>
    <ng-template #loadingDiv>
      <span class="spinner-grow spinner-grow-sm mr-2" role="status" aria-hidden="true"></span>
      {{ loadingText }}
    </ng-template>
  </button>
</ng-template>
