i.icon-magnifier {
  color: #fff !important;
}

#input_search{
  background-color: #eeeff2 !important;
  padding: 13px 39px 14px 14px;
  border-radius: 8px;
}

.banner {
    right: 0;
    left: 0;
    z-index: 1030;
    background: var(--color-secondary);
    color: var(--text-light);
    padding: 8px 18px;
}

/* 1. HEADER */

.header {
  display: none;
  background: #f7f8fa !important;
  box-shadow: 0 4px 5px #eeeff2;

  position: sticky;
  z-index: 100;
  transition: top 0.5s ease-in-out;
}
.header .header__cart {
  position: relative;
}

.header .header__cart span {
  position: absolute;
  top: 0;
  right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  vertical-align: top;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--color-primary);
  font-size: 10px;
  color: #ffffff;
}

.header .ps-form--header-search {
  display: none;
}

.header .header__search-mini {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
}

.header .ps-logo {
  display: inline-block;
  vertical-align: top;
  line-height: 30px;
}

.header .header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header .header__navigation a {
  color: #383434;
}

.header .header__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header .header__actions a {
  color: #383434;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  vertical-align: top;
  width: 40px;
  font-size: 22px;
  margin-right: 4px;
}

.header .header__actions a:hover {
  color: var(--color-primary);
}

.header .header__actions a:last-child {
  margin-right: 0;
}

.header .header__search {
  padding-right: 40px;
}

.header .header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 50px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header.header--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header.header--sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  padding: 0 15px;
  background-color: #fff;
}

.header.header--sticky .ps-logo img {
  max-height: 50px;
}

@media (min-width: 1200px) {
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 30px;
  }
  .header.header--mobile {
    display: none;
  }
}

@media (min-width: 1366px) {
  .header .ps-form--header-search {
    display: block;
    min-width: 270px;
  }
  .header .header__search-mini {
    display: none;
  }
}

@media (min-width: 1440px) {
  .header {
    padding: 8px 60px;
  }
}

@media (min-width: 1680px) {
  .header {
    padding: 10px 80px;
  }
  .header .header__right {
    padding-left: 170px;
  }
}

/* 2. HEADER STANDARD */

.header--standard.hide {
  top: -100%;
  transition: top 0.9s ease-in-out;
}

.header--standard .header__search {
  padding-right: 100px;
}

.header--standard.transparent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  border-bottom: none;
}

.header--standard.transparent .ps-form--header-search input {
  background-color: #fff;
  padding: 0 20px;
  height: 43px;
  border-radius: 50px;
}

.header--standard.transparent .ps-form--header-search input:focus {
  border: none;
}

.header--standard.transparent .ps-form--header-search button {
  font-size: 16px;
  right: 10px;
}

.header--standard.no-border {
  border-bottom: none;
}

.header--standard.header--sticky {
  padding-top: 0;
  padding-bottom: 0;
  border-bottom: 1px solid #eaeaea;
}

@media (min-width: 1200px) {
  .header--standard .header__right {
    -webkit-box-flex: 2;
    -ms-flex: 2 1 100%;
    flex: 2 1 100%;
  }
  .header--standard .header__search {
    padding-right: 0;
  }
}
  
@media (min-width: 1366px) {
  .header--standard .header__search {
    padding-right: 100px;
  }
}

/* 10. HEADER MOBILE */

.header--mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px 15px;
}

.header--mobile .header__right {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.header--mobile .header__search-mini {
  font-size: 20px;
}

.header--mobile .header__actions > a {
  margin-right: 0;
}

.header--mobile.header--sticky {
  padding: 15px 20px;
}

.header--mobile.header--sticky .navigation--mobile {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: var(--color-primary);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.12);
}

@media (min-width: 480px) {
  .header--mobile {
  padding: 10px 30px;
  }
}
